@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-arvo: var(--font-arvo)
}


@media (prefers-color-scheme: dark) {
  :root {
    --font-body: var(--font-geist-sans);
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

@keyframes sliderAnimation {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.custom-slide {
  height: 100%;
  width: 100%;
  animation: sliderAnimation 0.5s ease-in-out forwards;
}